<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214114628313-u088gs6mclhu64kg606ksgqiigqcbv9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214114628313-u088gs6mclhu64kg606ksgqiigqcbv9o</string>
	<key>API_KEY</key>
	<string>AIzaSyDZxttZj7gkNTSke7iXtGMwC881ZrvUtsM</string>
	<key>GCM_SENDER_ID</key>
	<string>214114628313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nadia-Siddiqah.Mailmo</string>
	<key>PROJECT_ID</key>
	<string>mailmo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mailmo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214114628313:ios:f0e74f6b480b4e142784c8</string>
</dict>
</plist>